# Contact form: emails are sent to orders@thepitabowl.com via Google Workspace
# Use an App Password (not your regular Google password). Generate one at:
# https://myaccount.google.com/apppasswords
GOOGLE_EMAIL=orders@thepitabowl.com
GOOGLE_APP_PASSWORD=your_16_char_app_password
